footer
  #footer-content
    ul.inline(style='text-align:center;')
      li.small &copy; #{ locals.owner }
      for item in locals.footer
        li(class=(item.url == page.url)? "active" : "")
          a(href=item.url, title=item.description)
            | #{ item.name }


//- scripts

script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js')
//- script(src='/js/jquery.min.js')
script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js')
//- script(src='/js/bootstrap.min.js')
//- script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/1.7.2/moment.min.js')
//- script(src='/js/moment.min.js')
//- pure javascript search feature (searches feed.xml and returns results via ajax)
//- script(src='/js/search.js')

script(src='/js/jsprettify-all-latest.js')
script
  window.jsprettify.run();

script
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32103756-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
