extends layout

block logo
  // don't display navbar logo

block content
  .hero-unit
    h1= locals.name
    h2= locals.description
      br
      | San Francisco

  .hero-unit
    h4
      a(href='mailto:contact@mnewton.com') contact@mnewton.com
