extends layout

block logo
  // don't display navbar logo

block content
  .hero-unit
    h1= locals.name
    h2= locals.description
      br
      | San Francisco

  .hero-unit
    ul.inline
      li
        h4
          a(href='mailto:contact@mnewton.com') Email
      li
        h4
          a(href='https://pinboard.in/u:mnewt')  Pinboard
      li
        h4
          a(href='https://github.com/mnewt')  GitHub
      li
        h4
          a(href='https://www.linkedin.com/in/mnewt/')  LinkedIn
    br
