!!! 5
html(lang='en')
  head
    block head
      include head
      title
        block title
          = locals.name
  body
    .container
      block header
        include navbar

      //- prettify tag is for jsprettify
      #content.prettify
        block content

      block footer
        include footer
