.navbar
  .navbar-inner
    block logo
      a.brand(href='/')= locals.name
    ul.nav.nav-pills.pull-right
      for item in locals.menu
        li(class=(item.url == page.url)? "active" : "")
          a(href=item.url, title=item.description)
            | #{ item.name }
      //- li
      //-   form(id='search_form', class='navbar-search')
      //-       input(id='query', type='text', class='input-mini search-query', placeholder='Search')
