extends layout

block content
  h1 Projects
  
  ul.projects-list
    li
      .project
        .picture
          img(src='MSNC3.png')
        .body
          h3 Lync / Office Communications Server
          p VOIP Educational Seminars
    li
      .project
        .picture
          img(src='MSNC1.png')
        .body
          h3 Cloud Consolidation ROI
          p Design and Measurement of Server and Storage Virtualization Solutions
    li
      .project
        .picture
          img(src='GCPW1.png')
        .body
          h3 Prettify Wrapper
          p Trivial Syntax Highlighting integrated for blogs
    li
      .project
        .picture
          img(src='SIDM1.png')
        .body
          h3 Storage, Infrastructure, Directory, and Email
          p Designed and Deployed all new core IT services. Deployed EMC VNX Storage, VMware vSphere, Active Directory 2008 R2, and Exchange 2010 across worldwide eight sites.
