//- Wrap contents of header elements with span so that they can be highlighted
script(type='text/javascript').
  var e = document.querySelectorAll("h1,h2,h3,h4");
  for (i=0; i<e.length; i++) {
    e[i].innerHTML = "<span>" + e[i].innerHTML + "</span>";
  }
