// Global Settings

// all colors are defined here (or derived from these)
// backgroundColor = #fdfdfd
backgroundColor = #F5F3FA
// backgroundColor = #E4F5EF
textColor       = #555
// linkColor       = #35235D
linkColor       = #553D8A
linkColor2      = #755FA5
linkColor3      = #9E8DC4
linkColor4      = #BEB3D5
highlightColor  = #DE5224
headlineColor   = #777


html
  background-color: backgroundColor

body
  padding-top: 1em
  font-family: Georgia, serif
  font-size: 16pt
  line-height: 1.4em
  color: textColor

// body holds all page contents
.body
  margin-left: 5%
  margin-right: 5%
  
.content
  padding-top: 150px
  padding-bottom: 50px

a
  text-decoration: none
  color: linkColor
  // animate the anchor color on hover in/out
  transition: color 1s ease-in-out
  -moz-transition: color 1s ease-in-out
  -webkit-transition: color 1s ease-in-out

a:hover
  text-decoration: none
  color: linkColor * 0.7
  // background-color: highlightColor

ul.inline
  padding: 0px
  margin-bottom: 5em
  li
    display: inline-block
    line-height: 1.3em

// highlights are used mainly inside header tags
.highlight1
  background-color: linkColor

.highlight2
  background-color: linkColor2

.highlight3
  background-color: linkColor3

.highlight4
  background-color: linkColor4

h1, h2, h3, h4
  margin-top: 1.7em
  font-weight: normal
  line-height: 1.2em
  margin-bottom: 0em
  color: headlineColor

h1
  font-family: Georgia, serif
  font-size: 48pt
  margin-top: 2.5em
  text-align: center
  span
    background-color: linkColor
    color: backgroundColor
  a
    color: backgroundColor

h2
  font-size: 28pt
  span
    background-color: linkColor2
    color: backgroundColor
h3
  font-size: 22pt
  span
    background-color: linkColor3
    color: backgroundColor
h4
  font-family: Monaco, Menlo, monospace
  font-size: 14pt
  font-weight: bold
  line-height: 1.3em
  span
    background-color: linkColor4
    color: linkColor

img
  width: 100%
  
a > .caps
  color: linkColor


// Header

.header
  span.logo
    font-family: 'Give You Glory', Georgia, serif
    a
      color: textColor
    float: left
    display: block
    width: 45%
  span.nav
    float: right
    display: block;
    width: 55%;
    text-align: right;
    a
      padding-left: 1em
      padding-right: 1em

.header:after
  clear: both

.clearboth
  clear: both


// Footer

.footer
  text-align: center
  a
    display: inline-block
    margin-left: 2em


// Hero Unit

.hero-unit
  margin-top:   10%
  margin-left:  15%
  margin-right: 15%
  h1, h2, h3
    font-family: 'Give You Glory', Helvetica, sans-serif
    text-align: left
    span
      background: transparent

  h1
    font-size: 100px
    font-weight: normal
    line-height: 75px
    margin-bottom: 0px
    span
      color: textColor * 0.8

  h2
    font-size: 57px
    font-weight: 100
    line-height: 57px
    margin-top: 0px
    span
      color: textColor * 1.5

  p
    font-size: 16pt


// Article (and Main Blog Page)

.author a, .author a:hover
  color: textColor * 1.5
  text-decoration: none

.post
  // padding-top: 0px
  // padding-bottom: 50px

.byline
  margin-top: 1pt
  text-align: center
  font-size: 16pt
  font-family: Monaco, Menlo, monospace
  span
    background-color: linkColor4
    color: linkColor

.articleContent > p:first-child, .articleBlurb
  color: textColor * 1.4
  font-style: italic
  font-size: 1.1em

.comment
  text-align: center


// Archive

.archive
  padding: 0px
  li
    list-style-type: none
    .year
      display: table
      table-layout: fixed
      // margin-bottom: 0.7em
      .year-label
        // width: 3em
      ul
        display: table-cell
        .month
          // display: table
          // margin-bottom: 1em
          .month-label
            display: table-cell
            width: 5em
            text-align: right
          li.article
            width: 100%
            padding-bottom: .5em


// Projects

.projects-list
  padding: 0px
  margin-top: 3em
  li
    list-style-type: none
    margin-bottom: 5em
    .project
      display: table
      table-layout: fixed
      width: 100%
      .picture
        display: table-cell
        padding-right: 2em
      .body
        display: table-cell
        vertical-align: top
        h3
          margin-top: 0


// Code Blocks

pre, code, pre code
  font-size: 11pt
  background-color: backgroundColor  * 1.1

code {
  font-family: Monaco, Menlo, monospace;
  font-size: 0.85em;
  color: #000;
}

pre code {
  display: block;
  line-height: 1.1;
  border-style: solid
  border-radius: 0.4em
  border-width: 0.4em
  border-color: backgroundColor * 1.1
  overflow: scroll;
}

p code {
  padding: 0.1em 0.3em 0.2em;
  border-radius: 0.3em;
  position: relative;
  top: -0.15em;
  background: backgroundColor * 1.1
  white-space: nowrap;
}


/* Tomorrow Theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
.tomorrow-comment, pre .comment, pre .title {
  color: #8e908c;
}

.tomorrow-red, pre .variable, pre .attribute, pre .tag, pre .regexp, pre .ruby .constant, pre .xml .tag .title, pre .xml .pi, pre .xml .doctype, pre .html .doctype, pre .css .id, pre .css .class, pre .css .pseudo {
  color: #c82829;
}

.tomorrow-orange, pre .number, pre .preprocessor, pre .built_in, pre .literal, pre .params, pre .constant {
  color: #f5871f;
}

.tomorrow-yellow, pre .class, pre .ruby .class .title, pre .css .rules .attribute {
  color: #eab700;
}

.tomorrow-green, pre .string, pre .value, pre .inheritance, pre .header, pre .ruby .symbol, pre .xml .cdata {
  color: #718c00;
}

.tomorrow-aqua, pre .css .hexcolor {
  color: #3e999f;
}

.tomorrow-blue, pre .function, pre .python .decorator, pre .python .title, pre .ruby .function .title, pre .ruby .title .keyword, pre .perl .sub, pre .javascript .title, pre .coffeescript .title {
  color: #4271ae;
}

.tomorrow-purple, pre .keyword, pre .javascript .function {
  color: #8959a8;
}






// responsive sizing
@media screen and (max-width: 800px)
  .header
    .logo
      font-family: 'Give You Glory', Georgia, serif
      float: none
      clear: both
    .logo:after
      br
    text-align: center
    nav
      display: inline-block
      float: none
      clear: both
      a
        margin: 0.5em
        width: auto
    
    span.logo
      float: none
      display: inline
      text-align: center
    span.nav
      float: none
      display: inline
      text-align: center
      a
        padding-left: 0em
        padding-right: 0em


@media screen and (max-width: 480px)
  h1
    font-size: 24pt
  .hero-unit
    margin-top:   0%
    margin-left:  0%
    margin-right: 0%
    h1, h2, h3
      font-family: 'Give You Glory', Helvetica, sans-serif
      text-align: left
      span
        background: transparent

    h1
      font-size: 60px
      font-weight: normal
      line-height: 45px
      margin-bottom: 0px
      span
        color: textColor * 0.8

    h2
      font-size: 26px
      font-weight: 100
      line-height: 34px
      margin-top: 0px
      span
        color: textColor * 1.5

    p
      font-size: 16pt

    


